<mat-card *ngIf="task$ | async as task" class="container">
    <form class="form" *ngIf="taskForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Digite o título" [(ngModel)]="task.title" formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Digite a descrição" [(ngModel)]="task.description" formControlName="description">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input type="date" matInput [(ngModel)]="task.dueDate" formControlName="dueDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="task.priority" formControlName="priority">
          <mat-option value="LOW">Low</mat-option>
          <mat-option value="MEDIUM">Medium</mat-option>
          <mat-option value="HIGH">High</mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="onSubmit()" mat-stroked-button routerLink="tasks-list" color="basic">Submit</button>
    </form>  
</mat-card>